[Desktop Entry]
Name=Evince
Comment=Pdf
Exec=evince %F
Terminal=false
Type=Application
Icon=evince
Categories=Utility;
StartupNotify=true
MimeType=text/pdf;
