{:conns
 {:jvm {:port 5555
        :hooks {:connect! (fn [conn] (println "Connected to JVM prepl!"))
                :refresh (fn [opts]
                           (#(prn %) "Refreshing!")
                           opts)}}}}
