'atom-text-editor':
  'ctrl-w':       'tabs:close-tab'
  'ctrl-q':       'tabs:close-tab'

'atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'j k':          'vim-mode-plus:reset-normal-mode'

'atom-text-editor.vim-mode-plus.normal-mode[data-grammar="source clojure"]':
  'g d':          'chlorine:go-to-var-definition'
  'K':            'chlorine:doc-for-var'
  'space c':      'chlorine:connect-clojure-socket-repl'
  'space l':      'chlorine:clear-console'
  'shift-enter':  'chlorine:evaluate-block'
  'ctrl-x ctrl-e':     'chlorine:evaluate-block'
  'ctrl-enter':   'chlorine:evaluate-top-block'
  'ctrl-x ctrl-x':     'chlorine:evaluate-top-block'
  'ctrl-g':       'chlorine:break-evaluation'
  'space space':  'inline-results:clear-all'
  'escape':  'inline-results:clear-all'
  'space x':      'chlorine:run-tests-in-ns'
  'ctrl-x ctrl-t n':      'chlorine:run-tests-in-ns'
  'ctrl-x ctrl-t t':      'chlorine:run-test-for-var'
  'space t':      'chlorine:run-test-for-var'
  'ctrl-c ctrl-k':      'chlorine:load-file'

'atom-text-editor.vim-mode-plus.insert-mode[data-grammar="source clojure"]':
  'shift-enter': 'chlorine:evaluate-block'
  'ctrl-enter': 'chlorine:evaluate-top-block'
